<!DOCTYPE html>
<html>
<body>
    <script src="/javascripts/main2.js"></script>

<h2>JavaScript addEventListener()</h2>

<a href="javascript: changeText(1);">
    <img src="/images/images.png" alt="abc" />
 </a>
 <a href="javascript: changeText(2);">
    <img src="/images/images.png" alt="abc" />
 </a>
 <a href="javascript: changeText(3);">
    <img src="/images/images.png" alt="abc" />
 </a>
 <div id="div"></div>

</body>
</html> 
