<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script>console.log("HI, I am inside the Console of browser")
 // console.log();
 var dataArray = <%- JSON.stringify(alldesignationArray)%>
 console.log("Inside ASC button", dataArray)

  
  
  </script>
</head>
<body>
  <p>Welcome to <%= title %></p>

  <h1>
    <% alldesignationArray.forEach(function(eachemployee) { %>
    
  </h1>
   <h1><%= JSON.stringify(eachemployee) %></h1>
   
   <%}) %>
  
</body>
</html>








