<div class="image center">

    <!-- <script src="/javascripts/main2.js"></script> -->
    <a href="#" src="/javascripts/main2.js" onClick="showStuff()">
      <img src="images/images.png" /></a>
      <p class="color names">123</p>
  </div>
  # Here's the part that shows/hides when you click the image
  <div id="hidden" style="display: none"><p>Here's the hidden text</p> 
  </div>


